*.log
.clj-kondo
.shadow-cljs/
.nrepl-port
.cpcache/
datomic/
resources/edn/config.edn
node_modules/
!resources/public
resources/public/js/
resources/public/fonts/
resources/public/img/
resources/public/svg/
resources/csv
package-lock.json
TODO.org
