!resources/public
*.log
.clj-kondo
.cpcache/
.nrepl-port
.shadow-cljs/
datomic/
node_modules/
target/
TODO.org
package-lock.json
pom.xml
resources/csv
resources/edn/config.edn
resources/public/fonts/
resources/public/js/
resources/public/svg/
