@font-face {
    font-family: "Obviously Condensed";
    src: url("/fonts/Obviously-Condensed_Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: "Obviously Condensed";
    src: url("/fonts/Obviously-Condensed_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

