/* Parliment of Species
 *
 * Primary CSS.
 */

/* Variables */

:root {
    --bg: #f5dcaf;
    --bg-dark: #dab994;
    --bg-card: #f8e8ca;
    --fg: black;
    --hl: #e67b5c;
    --ia: gray;

    --flora-fg: #488f96;
    --flora-bg: #1FA659;

    --fauna-fg: #f3ca7d;
    --fauna-bg: #efbd58;

    --aqua-fg:  #507aa0;
    --aqua-bg:  #0d618b;

    --homo-sapiens-fg: #874b7a;
    --homo-sapiens-bg: #6b2964;

    --amr-fg: #5a6169;
    --amr-bg: #32474f;
}

/* Global */

* {
    box-sizing: border-box;
}

html {
    font-size: 5px;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: "Auroc";
    font-size: 3rem;
    background: var(--bg);
    color: var(--fg);
}

#mount {
    display: flex;
}

main {
    margin: 5rem;
}

.error {
    margin: 5rem;
    color: red;
    font-family: monospace;
}

button {
    margin: 5rem 0;
    font-size: 4rem;
    color: var(--fg);
    background: var(--bg);
    border: 1px solid var(--fg);
    padding: 2rem;
}

button:hover {
    color: var(--bg);
    background: var(--fg);
    border-color: var(--bg);
    cursor: pointer;
}

a {
    color: var(--fg);
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    line-height: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    text-transform: uppercase;
    font-size: 3rem;
}

nav {
    margin-top: 5rem;
}

p {
    margin-bottom: 5rem;
}

p:last-child {
    margin-bottom: 0;
}

progress {
    color: red;
    background: white;
    border-radius: 0;
    width: 20rem;
    height: 3rem;
}

input {
    outline: none;
}

textarea {
    background: white;
    color: var(--fg);
    border-width: 0;
    padding: 3rem;
    font-family: "ISO v0.8";
    margin: 4rem 0;
    resize: none;
    font-size: 4rem;
    outline: none;
}

/* HELPERS */

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.paddedm {
}

.padded {
    padding: 5rem;
}

.clickable:hover {
    cursor: pointer;
    box-shadow: 10px 10px var(--bg-dark);
    transform: rotate(-1deg);
}

/* ENTITIES */

.flora {
    background: var(--flora-bg);
}

.fauna {
    background: var(--fauna-bg);
}

.aqua {
    background: var(--aqua-bg);
}

.homo-sapiens {
    background: var(--homo-sapiens-bg);
}

.bacteria {
    background: var(--amr-bg);
}

/* HEADER */

header {
    font: 400 5rem/5rem "Auroc", serif;
    padding: 0 5rem;
    margin-bottom: 5rem;
    justify-content: space-between;
    background: wheat;

    border: 1px solid var(--bg-dark);
    border-width: 0 0 1px 0;
}

.nameplate {
    font-size: 8rem;
    line-height: 7rem;
    font-weight: 900;
}

.links * {
    margin-left: 3rem;
}

li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active {
    font-style: italic;
}

/* FOOTER */

footer {
    margin-top: 10rem;
}

/* HOME */

.home {
    min-height: 70vh;
}


/* GAME */

nav {
    display: flex;
    justify-content: space-between;
}

.game {
    margin-top: 10rem;
}

.status-bars {
    display: flex;
    justify-content: space-between;
}

.status-bar {
    margin-right: 2.5rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.status-bar label {
    color: black;
}

.entities {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
}

.entities > .entity {
    margin: 2.5rem 0;
}

.timeline {
    width: 100%
}

.year {
    text-align: center;
}

.select-entity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    margin: 10rem 0;
}

.select-entity > .entity {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    text-align: center;
    color: var(--fg);
}

.entity {
}

.entity img {
    margin-right: 5rem;
}

.entity-portrait {
    max-height: 50rem;
}

.list-heading {
    text-transform: capitalize;
}

.event-reaction {
    display: flex;
    flex-direction: column;
}

/*******
  CARD  
*******/

.card-border {
    padding: 2rem;
    border: 1px solid var(--fg);
    transition: all 0.25s;
}

.card {
    width: 100%;
    border: 1px solid var(--fg);
    background: whitesmoke;
    font: 3rem/4rem "SangBleu Sunrise";
}

.rounded {
    border-radius: 10px;
}

.card-header {
    padding: 4rem 0;
    text-align: center;
    justify-content: space-between;
    font: 3rem/3rem "SangBleu Sunrise";
    background: var(--bg);
    border: 1px solid var(--fg);
    border-width: 0 0 1px 0;
    color: black;
}

.card section {
    background: var(--bg-card);
}

.card h1 {
    font: 10rem/10rem "Auroc";
    margin-bottom: 4rem;
    text-transform: capitalize;
}

.card h2 {
    font: 6rem/6rem "Auroc";
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.card ul {
    margin-bottom: 3rem;
}

.card li {
    list-style: circle;
    margin-left: 5rem;
}

.card label {
    text-transform: uppercase;
}

.tags span {
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 2rem;
}

/****************
  Specific Cards
*****************/

/* Entity */

.entity {
    margin: 5rem 0;
}

/* Projection */

.projection {
    margin: 5rem 0;
    border-radius: 10px;
}

/* Policy */

.policy {
    margin: 5rem 0 0 0;
    border-radius: 10px 10px 0 0;
    padding: 2rem 2rem 0 2rem;
    border-bottom-style: dashed;
}

.policy-body {
    border-bottom: 0;
    padding-bottom: 10rem;
    background: var(--bg-card);
}

/* Effect */

.effect {
    border-top: 0;
    transition: all 0.25s;
}

.tear {
    transform: translate(0, 3rem);
    border-top: 1px solid black;
    border-top-style: dashed;
}

.effect form {
    justify-content: center;
}

.impact {
    justify-content: space-between;
}

input[type=button] {
    background: var(--bg-card);
    color: var(--fg);
    font: 4rem/4rem "ISO v0.8";
    text-transform: uppercase;
    padding: 0 0 2rem 0;
    margin: 5rem 2rem;
    border-radius: 0;
    border: 0;
    transition: all 0.25s;
    border: 2px solid var(--bg-card);
    border-width: 0 0 2px 0;
}

input[type=button]:hover {
    cursor: pointer;
    border-color: var(--fg);
    border-width: 0 0 2px 0;
}

#button-active {
    border-color: var(--fg);
    border-width: 0 0 2px 0;
}

textarea {
    background: whitesmoke;
    color: var(--fg);
    border: 1px solid var(--fg);
    padding: 3rem;
    font-family: "ISO v0.8";
    margin: 4rem 2rem;
    resize: none;
    font-size: 4rem;
    outline: none;
}

input[type=button]:disabled {
    text-decoration: line-through;
}

/* BANNER */

.banner {
    text-transform: uppercase;
    text-align: center;
    margin: 10rem 0;
}

.banner h1 {
    font: 15rem/15rem "Auroc";
}

/* NEW POLICY */

.new-policy {
}


/* TEXT */

.text {
    margin: 5rem 0;
}

/****************
  Archive 
*****************/

.archive {
}
