/* Parliament of Species
 *
 * Primary CSS.
 *
 */

/* Variables */

:root {
    --bg: #f5dcaf;
    --bg-dark: #dab994;
    --bg-card: #f8e8ca;
    --bg-text: whitesmoke;
    --fg: black;
    --hl: #e67b5c;
    --ia: gray;

    --flora-fg: #488f96; /* UPDATE */
    --flora-bg: #1FA659;

    --fauna-fg: #f3ca7d;
    --fauna-bg: #efbd58;

    --aqua-fg:  #507aa0;
    --aqua-bg:  #0d618b;

    --homo-sapiens-fg: #874b7a;
    --homo-sapiens-bg: #6b2964;

    --amr-fg: #5a6169;
    --amr-bg: #32474f;
}

/* Global */

* {
    box-sizing: border-box;
    transition: all 0.25s;
}

html {
    font-size: 5px;
    font-family: sans-serif;
    margin: 0 auto;
}

body {
    font-family: "Auroc";
    font-size: 3rem;
    background: var(--bg);
    color: var(--fg);
}

#mount {
    display: flex;
}

.error {
    margin: 5rem;
    color: red;
    font-family: "ISO v0.8";
}

button {
    margin: 5rem 0;
    font-size: 4rem;
    color: var(--fg);
    background: var(--bg);
    border: 1px solid var(--fg);
    padding: 2rem;
}

button:hover {
    color: var(--bg);
    background: var(--fg);
    border-color: var(--bg);
    cursor: pointer;
}

a {
    color: var(--fg);
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    line-height: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    text-transform: uppercase;
    font-size: 3rem;
}

nav {
    margin-top: 5rem;
}

p {
    margin-bottom: 5rem;
}

p:last-child {
    margin-bottom: 0;
}

progress {
    color: red;
    background: white;
    border-radius: 0;
    width: 20rem;
    height: 3rem;
}

input {
    outline: none;
}

textarea {
    background: white;
    color: var(--fg);
    border-width: 0;
    padding: 3rem;
    font-family: "ISO v0.8";
    margin: 4rem 0;
    resize: none;
    font-size: 4rem;
    outline: none;
}

/* HELPERS */

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.padded {
    padding: 5rem;
}

.clickable:hover {
    cursor: pointer;
    box-shadow: 10px 10px var(--bg-dark);
    transform: rotate(-1deg);
}



/********
 LANDING
*********/

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landing section {
    padding: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 900px;
}
.landing h1 {
    font: 15rem/15rem "Auroc";
    text-align: center;
    margin-bottom: 15rem;
}

.landing p {
    font: 300 4rem/6rem "Saiga 0.5";
}

.landing span {
    color: var(--bg);
    text-transform: capitalize;
    margin: 0 1rem;
    padding: 0 1rem;
    display: inline-block;
    cursor: crosshair;
}

.landing-about {
    background: var(--hl);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
}

.icons {
    justify-content: space-between;
    margin-top: 10rem;
    padding-right: 10rem;
}

.icons img {
    width: 15rem;
    height: 15rem;
}

.landing-play {
    margin: 25rem 0 10rem 0;
    border: 1px solid var(--fg);
    padding: 9rem 3rem;
    border-radius: 2rem;
}

.landing-play:hover {
    background: var(--bg-dark);
}

.landing-play a {
    padding: 5rem;
    font: 8rem/8rem "Auroc";
    border: 1px solid var(--fg);
}

.landing-play a:hover {
    background: var(--bg-card);
}

.landing-archive {
    background: var(--bg-dark);
}

/*******
 HEADER 
********/

header {
    font: 400 5rem/5rem "Auroc", serif;
    padding: 10rem;
    justify-content: space-between;
    background: var(--bg);
}

.nameplate {
    font-size: 8rem;
    line-height: 7rem;
    font-weight: 900;
}

.links * {
    margin-left: 3rem;
}

li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.active {
    font-style: italic;
}

/* FOOTER */

footer {
    margin-top: 10rem;
}

/* HOME */

.home {
    min-height: 70vh;
}


/* GAME */

nav {
    display: flex;
    justify-content: space-between;
}

.game {
    max-width: 800px;
    margin: 0 auto;
}

.status-bars {
    display: flex;
    justify-content: space-between;
}

.status-bar {
    margin-right: 2.5rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.status-bar label {
    color: black;
}

.entities {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
}

.entities > .entity {
    margin: 2.5rem 0;
}

.timeline {
    width: 100%
}

.year {
    text-align: center;
}

.select-entity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    margin: 10rem 0;
}

.select-entity > .entity {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    text-align: center;
    color: var(--fg);
}

.entity {
}

.entity img {
    margin-right: 5rem;
}

.entity-portrait {
    max-height: 50rem;
}

.list-heading {
    text-transform: capitalize;
}

.event-reaction {
    display: flex;
    flex-direction: column;
}

/*******
  CARD  
*******/

.card-border {
    padding: 2rem;
    border: 1px solid var(--fg);
    margin-top: 10rem;
}

.card {
    width: 100%;
    border: 1px solid var(--fg);
    background: whitesmoke;
    font: 3rem/4rem "SangBleu Sunrise";
}

.rounded {
    border-radius: 10px;
}

.card-header {
    padding: 4rem 0;
    text-align: center;
    justify-content: space-between;
    font: 3rem/3rem "SangBleu Sunrise";
    background: var(--bg);
    border: 1px solid var(--fg);
    border-width: 0 0 1px 0;
    color: black;
}

.card section {
    background: var(--bg-card);
}

.card h1 {
    font: 10rem/10rem "Auroc";
    margin-bottom: 4rem;
    text-transform: capitalize;
}

.card h2 {
    font: 6rem/6rem "Auroc";
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.card ul {
    margin-bottom: 3rem;
}

.card li {
    list-style: circle;
    margin-left: 5rem;
}

.card label {
    text-transform: uppercase;
}

.tags span {
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 2rem;
}

/****************
  Specific Cards
*****************/

/* Entity */

.balance {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    height: 7rem;
    width: 100%;
    background: var(--card-bg);
}

.balance-entity {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg);
    font: 500 3rem/3rem "Saiga 0.5";
}

.balance-label { 
    color: inherit;
    text-transform: capitalize;
}

.small {
    margin-top: 15rem;
    height: 5rem;
    font: 700 2rem/2rem "Auroc";
}

.flora {
    background: var(--flora-bg);
    color: var(--flora-bg);
}

.fauna {
    background: var(--fauna-bg);
    color: var(--fauna-bg);
}

.aqua {
    background: var(--aqua-bg);
    color: var(--aqua-bg);
}

.homo-sapiens {
    background: var(--homo-sapiens-bg);
    color: var(--homo-sapiens-bg);
}

.bacteria {
    background: var(--amr-bg);
    color: var(--amr-bg);
}

.show-labels {
    color: var(--bg-card);
}

/* Entity */

.entity {
}

/* Projection */

.projection {
}

/* Policy */

.policy {
}

.glyph {
    margin-left: 10rem;
}
/* Write-effect */

.write-effect {
    border-top: 0;
    transition: all 0.25s;
}

.write-effect form {
    justify-content: center;
}

.impact {
    justify-content: space-between;
}

input[type=button] {
    background: var(--bg-card);
    color: var(--fg);
    font: 4rem/4rem "ISO v0.8";
    text-transform: uppercase;
    padding: 0 0 2rem 0;
    margin: 5rem 2rem;
    border-radius: 0;
    border: 0;
    transition: all 0.25s;
    border: 2px solid var(--bg-card);
    border-width: 0 0 2px 0;
}

#button-active {
    border-color: var(--fg);
    border-width: 0 0 2px 0;
}

textarea {
    background: var(--bg-text);
    color: var(--fg);
    border: 1px solid var(--fg);
    padding: 3rem;
    font-family: "ISO v0.8";
    margin: 4rem 2rem;
    resize: none;
    font-size: 4rem;
    outline: none;
}

.name {
    background: var(--bg-card);
    border-width: 0 0 1px 0;
    padding-left: 0;
}

input[type=button]:hover {
    cursor: pointer;
    border-color: var(--bg-card);
    border-width: 0 0 2px 0;
}

input[type=button]:hover {
    cursor: pointer;
    border-color: var(--fg);
    border-width: 0 0 2px 0;
}

input[type=button]:disabled:hover {
    border-color: var(--bg-card);
}

input[type=button]:disabled {
    text-decoration: line-through;
    cursor: default;
}

/* BANNER */

.banner {
    text-transform: uppercase;
    text-align: center;
    margin: 10rem 0;
}

.banner h1 {
    font: 15rem/15rem "Auroc";
}

/* New Policy */

.write-policy {
    border-top: 0;
}

form label {
    text-transform: uppercase;
    font-family: "Auroc";
    margin-left: 2rem;
}

/* TEXT */

.text {
    margin: 5rem 0;
}

/* Tearable */

.tear {
    transform: translate(0, 3rem);
    border-top: 1px solid black;
    border-top-style: dashed;
}

.tearable {
    border-bottom-style: dashed;
    border-radius: 10px 10px 0 0;
    padding: 2rem 2rem 0 2rem;
}

.tearable-body {
    border-bottom: 0;
    padding-bottom: 10rem;
    background: var(--bg-card);
}

/****************
  Archive 
*****************/

.archive {
}
